# CALIDAD DE DATOS

**IMPORTANTE**: Recuerda hacer una copia de esta plantilla para no machacar la original.

## IMPORTAR PAQUETES

In [261]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [262]:
import numpy as np
import pandas as pd
from janitor import clean_names

#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [263]:
ruta_proyecto = 'C:/Users/USER/Desktop/DSD4B (ZERO TO HERO)/03_MACHINE_LEARNING/08_CASOS/01_LEADSCORING'

Sustituir el nombre_fichero_datos.

In [264]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [312]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col='id',sep=',')
df.head()

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,...,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm,fecha_interaccion,fecha_inicio_contrato,fecha_fin_contrato
id,,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,SG1A - Agentes de Carga,...,No,No,No,No,15.0,15.0,No,9/05/2021,NaN,NaN
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,SG1A - Agentes de Carga,...,No,No,No,No,15.0,15.0,No,3/06/2022,NaN,NaN
660680,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,...,No,No,No,No,17.0,15.0,No,16/07/2020,NaN,NaN
660673,Landing Page Submission,Google,No,No,1,2.0,1640,2.0,Email Opened,SG2A - Importadores,...,No,No,No,No,14.0,20.0,No,11/09/2020,19/10/2020,14/06/2022
660562,API,Organic Search,No,No,1,11.0,1538,11.0,Email Opened,SG1A - Agentes de Carga,...,No,No,No,No,16.0,16.0,No,16/08/2022,5/11/2022,19/01/2024

## VISIÓN GENERAL

In [266]:
df.head()

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,...,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm,fecha_interaccion,fecha_inicio_contrato,fecha_fin_contrato
id,,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,SG1A - Agentes de Carga,...,No,No,No,No,15.0,15.0,No,9/05/2021,NaN,NaN
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,SG1A - Agentes de Carga,...,No,No,No,No,15.0,15.0,No,3/06/2022,NaN,NaN
660680,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,...,No,No,No,No,17.0,15.0,No,16/07/2020,NaN,NaN
660673,Landing Page Submission,Google,No,No,1,2.0,1640,2.0,Email Opened,SG2A - Importadores,...,No,No,No,No,14.0,20.0,No,11/09/2020,19/10/2020,14/06/2022
660562,API,Organic Search,No,No,1,11.0,1538,11.0,Email Opened,SG1A - Agentes de Carga,...,No,No,No,No,16.0,16.0,No,16/08/2022,5/11/2022,19/01/2024

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6810 entries, 660737 to 579538
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6810 non-null   object
 1   fuente                 6780 non-null   object
 2   no_enviar_email        6810 non-null   object
 3   no_llamar              6810 non-null   object
 4   compra                 6810 non-null   int64
 5   visitas_total          6719 non-null   float64
 6   tiempo_en_site_total   6810 non-null   int64
 7   paginas_vistas_visita  6719 non-null   float64
 8   ult_actividad          6746 non-null   object
 9   ambito                 5734 non-null   object
 10  ocupacion              4804 non-null   object
 11  conociste_google       6810 non-null   object
 12  conociste_revista      6810 non-null   object
 13  conociste_periodico    6810 non-null   object
 14  conociste_youtube      6810 non-null   object
 15  conociste_facebook     6810 non-null   object
 16  conociste_referencias  6810 non-null   object
 17  score_actividad        3705 non-null   float64
 18  score_perfil           3705 non-null   float64
 19  descarga_lm            6810 non-null   object
 20  fecha_interaccion      6810 non-null   object
 21  fecha_inicio_contrato  2588 non-null   object
 22  fecha_fin_contrato     2588 non-null   object
dtypes: float64(4), int64(2), object(17)
memory usage: 1.2+ MB

## DATOS RELEVANTES

### Identificación

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6810 entries, 660737 to 579538
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6810 non-null   object
 1   fuente                 6780 non-null   object
 2   no_enviar_email        6810 non-null   object
 3   no_llamar              6810 non-null   object
 4   compra                 6810 non-null   int64
 5   visitas_total          6719 non-null   float64
 6   tiempo_en_site_total   6810 non-null   int64
 7   paginas_vistas_visita  6719 non-null   float64
 8   ult_actividad          6746 non-null   object
 9   ambito                 5734 non-null   object
 10  ocupacion              4804 non-null   object
 11  conociste_google       6810 non-null   object
 12  conociste_revista      6810 non-null   object
 13  conociste_periodico    6810 non-null   object
 14  conociste_youtube      6810 non-null   object
 15  conociste_facebook     6810 non-null   object
 16  conociste_referencias  6810 non-null   object
 17  score_actividad        3705 non-null   float64
 18  score_perfil           3705 non-null   float64
 19  descarga_lm            6810 non-null   object
 20  fecha_interaccion      6810 non-null   object
 21  fecha_inicio_contrato  2588 non-null   object
 22  fecha_fin_contrato     2588 non-null   object
dtypes: float64(4), int64(2), object(17)
memory usage: 1.2+ MB

### Corrección

In [269]:
df= df.drop(columns=['fecha_interaccion','fecha_inicio_contrato','fecha_fin_contrato'])

## TIPOS DE DATOS

### Identificación

In [270]:
df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total            float64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

### Corrección

In [271]:
df = df.astype({'visitas_total':'Int64'})

df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total              Int64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

## VALORES ÚNICOS

### Identificación

In [272]:
df.nunique().sort_values()

conociste_youtube           1
conociste_revista           1
descarga_lm                 2
conociste_referencias       2
no_enviar_email             2
no_llamar                   2
compra                      2
conociste_facebook          2
conociste_periodico         2
conociste_google            2
origen                      4
ambito                      5
ocupacion                   6
score_perfil               10
score_actividad            12
fuente                     15
ult_actividad              16
visitas_total              40
paginas_vistas_visita     101
tiempo_en_site_total     1601
dtype: int64

### Corrección

In [273]:
df.drop(columns = ['conociste_youtube','conociste_revista'], inplace = True)

## DUPLICADOS

### Identificación

In [274]:
df.duplicated().sum()

1206

### Corrección

In [275]:
df.drop_duplicates(inplace = True)

## SEPARAR NUMÉRICAS Y CATEGÓRICAS

### Categóricas

In [276]:
cat = df.select_dtypes(exclude = 'number').copy()

### Numéricas

In [277]:
num = df.select_dtypes(include='number').copy()

## GESTIÓN DE CATEGÓRICAS

In [278]:
cat.describe().T

                      count unique                      top  freq
origen                 5604      4  Landing Page Submission  3651
fuente                 5581     15                   Google  2170
no_enviar_email        5604      2                       No  5100
no_llamar              5604      2                       No  5602
ult_actividad          5540     16             Email Opened  2146
ambito                 5094      5  SG1A - Agentes de Carga  2165
ocupacion              4164      6   Asistente de logistica  3572
conociste_google       5604      2                       No  5593
conociste_periodico    5604      2                       No  5603
conociste_facebook     5604      2                       No  5600
conociste_referencias  5604      2                       No  5598
descarga_lm            5604      2                       No  3474

### Nulos

#### Identificación

In [279]:
cat.isna().sum().sort_values(ascending = False)

ocupacion                1440
ambito                    510
ult_actividad              64
fuente                     23
origen                      0
no_enviar_email             0
no_llamar                   0
conociste_google            0
conociste_periodico         0
conociste_facebook          0
conociste_referencias       0
descarga_lm                 0
dtype: int64

In [280]:
cat.shape

(5604, 12)

In [281]:
num.shape

(5604, 6)

#### Corrección

In [282]:
cat.ocupacion.value_counts()

ocupacion
Asistente de logistica               3572
Gerente de operaciones logisticas     438
Supervisor de almacen                 128
Otro                                   12
Asistente administrativo                9
Analista de comercio exterior           5
Name: count, dtype: int64

##### Imputar por un valor

###### Variables a imputar

In [283]:
cat.columns

Index(['origen', 'fuente', 'no_enviar_email', 'no_llamar', 'ult_actividad',
       'ambito', 'ocupacion', 'conociste_google', 'conociste_periodico',
       'conociste_facebook', 'conociste_referencias', 'descarga_lm'],
      dtype='object')

In [284]:
var_imputar_valor = ['origen',
                     'fuente',
                     'no_enviar_email',
                     'no_llamar',
                     'ult_actividad',
                     'ambito',
                     'conociste_google',
                     'conociste_facebook',
                     'conociste_referencias',
                     'descarga_lm']

###### Valor por el que imputar

In [285]:
valor = 'Null'

###### Imputar

In [286]:
cat[var_imputar_valor] = cat[var_imputar_valor].fillna(valor)

##### Imputar por la moda

###### Variables a imputar

In [287]:
var_imputar_moda = ['ocupacion']

###### Funcion para imputar con la moda

In [288]:
def imputar_moda(variable):
    return(variable.fillna(variable.mode()[0]))

###### Imputar con la moda

In [289]:
cat[var_imputar_moda] = cat[var_imputar_moda].apply(imputar_moda)

### Atípicos

#### Categorías poco frecuentes

##### Función para agrupar categorías raras en 'Otros'

In [290]:
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'Otros'
    temp2 = np.where(variable.isin(temp),'Otros',variable)
    #Devuelve el resultado
    return(temp2)

##### Variables a imputar

In [291]:
var_imputar_moda = cat.columns.to_list()

##### Aplicar

In [292]:
for variable in var_imputar_moda:
    cat[variable] = agrupar_cat_raras(cat[variable],criterio = 0.02)

### Estandarización de variables

In [293]:
cat.ambito.value_counts()

ambito
SG1A - Agentes de Carga    2165
SG2A - Importadores        1225
SG2B - Exportadores         861
SG3 - Otros                 552
Null                        510
SG1C - Aerolineas           291
Name: count, dtype: int64

In [294]:
cat['ambito'] = cat['ambito'].replace({
    'SG1A - Agentes de Carga': 'Agentes de Carga',
    'SG2A - Importadores': 'Importadores',
    'SG2B - Exportadores': 'Exportadores',
    'SG3 - Otros': 'Otros',
    'SG1C - Aerolineas': 'Aerolineas'
})

## GESTIÓN DE NUMÉRICAS

In [295]:
num.describe().T

,count,mean,std,min,25%,50%,75%,max
compra,5604.0,0.391328,0.488091,0.0,0.0,0.0,1.0,1.0
visitas_total,5513.0,4.260838,5.466133,0.0,2.0,3.0,5.0,251.0
tiempo_en_site_total,5604.0,598.862955,549.953653,0.0,134.0,362.0,1080.0,2272.0
paginas_vistas_visita,5513.0,2.899976,1.938767,0.0,2.0,2.5,4.0,24.0
score_actividad,3134.0,14.07307,1.31021,7.0,13.0,14.0,15.0,18.0
score_perfil,3134.0,16.522336,1.852349,11.0,15.0,16.0,18.0,20.0

### Nulos

#### Identificación

In [296]:
num.isna().sum().sort_values(ascending = False)

score_actividad          2470
score_perfil             2470
visitas_total              91
paginas_vistas_visita      91
compra                      0
tiempo_en_site_total        0
dtype: int64

#### Corrección

##### Imputar por la mediana

###### Variables a imputar

In [297]:
var_imputar_mediana = num.columns.to_list()

###### Funcion para imputar con la mediana

In [298]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

###### Imputar con la mediana

In [299]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

### Atípicos

#### Por desviación típica

##### Identificación

###### Definir el número de desviaciones típicas

In [300]:
num_desv_tip = 4

In [301]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los límites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los índices de los que están fuera de los límites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

###### Función que cuenta el número de atípicos

In [302]:
def conteo_atipicos(df,variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

###### Variables a aplicar

In [303]:
var_atipicos_dt = num.columns.to_list()

###### Aplicar

In [304]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

compra:

Series([], Name: count, dtype: int64)

visitas_total:

visitas_total
27     3
28     2
43     1
30     1
141    1
29     1
26     1
74     1
41     1
54     1
115    1
251    1
32     1
42     1
Name: count, dtype: Int64

tiempo_en_site_total:

Series([], Name: count, dtype: int64)

paginas_vistas_visita:

paginas_vistas_visita
11.00    12
13.00     6
14.00     6
12.00     4
15.00     3
16.00     2
12.33     1
24.00     1
11.50     1
Name: count, dtype: int64

score_actividad:

score_actividad
10.0    46
9.0      7
18.0     3
8.0      2
7.0      1
Name: count, dtype: int64

score_perfil:

Series([], Name: count, dtype: int64)

#### Por winsorización manual para una variable

###### Aplicar

In [305]:
num['visitas_total']= num['visitas_total'].clip(0,50)
num['paginas_vistas_visita']= num['paginas_vistas_visita'].clip(0,20)

In [311]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5604 entries, 660737 to 579538
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   compra                 5604 non-null   int64
 1   visitas_total          5604 non-null   Int64
 2   tiempo_en_site_total   5604 non-null   int64
 3   paginas_vistas_visita  5604 non-null   float64
 4   score_actividad        5604 non-null   float64
 5   score_perfil           5604 non-null   float64
dtypes: Int64(1), float64(3), int64(2)
memory usage: 441.0 KB

In [310]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5604 entries, 660737 to 579538
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 5604 non-null   object
 1   fuente                 5604 non-null   object
 2   no_enviar_email        5604 non-null   object
 3   no_llamar              5604 non-null   object
 4   ult_actividad          5604 non-null   object
 5   ambito                 5604 non-null   object
 6   ocupacion              5604 non-null   object
 7   conociste_google       5604 non-null   object
 8   conociste_periodico    5604 non-null   object
 9   conociste_facebook     5604 non-null   object
 10  conociste_referencias  5604 non-null   object
 11  descarga_lm            5604 non-null   object
dtypes: object(12)
memory usage: 698.2+ KB

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [308]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [309]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)